<loginlayout>
    <div class="bg-secondary col-4 justify-content-center rounded-5 border-end border-black p-4 text-white">
        <h1 class="mb-2">Register</h1>
        <form (submit)="onSubmit($event)" class="d-flex flex-column align-items-start gap-2">
            <div class="col-12">
                <label class="form-label" for="loginForm.name">Username</label>
                <input [formField]="loginForm.name" class="form-control form-control" type="text">
                @if (loginForm.name().touched() && loginForm.name().invalid()) {
                    <ul class="error-list">
                        @for (error of loginForm.name().errors(); track error) {
                            <li>{{ error.message }}</li>
                        }
                    </ul>
                }
            </div>
            <div class="col-12">
                <label class="form-label" for="loginForm.email">Email address</label>
                <input [formField]="loginForm.email" class="form-control form-control" type="email" placeholder="name@example.com">
                @if (loginForm.email().touched() && loginForm.email().invalid()) {
                    <ul class="error-list">
                        @for (error of loginForm.email().errors(); track error) {
                            <li>{{ error.message }}</li>
                        }
                    </ul>
                }
            </div>
            <div class="col-12">
                <label class="form-label" for="loginForm.password">Password</label>
                <input [formField]="loginForm.password" class="form-control form-control" type="password">
                @if (loginForm.password().touched() && loginForm.password().invalid()) {
                    <ul class="error-list">
                        @for (error of loginForm.password().errors(); track error) {
                            <li>{{ error.message }}</li>
                        }
                    </ul>
                }
            </div>
            <div class="col-12">
                <label class="form-label" for="loginForm.password">Confirm password</label>
                <input [formField]="loginForm.passwordConfirm" class="form-control form-control" type="password">
                @if (loginForm.passwordConfirm().touched() && loginForm.passwordConfirm().invalid()) {
                <ul class="error-list">
                    @for (error of loginForm.passwordConfirm().errors(); track error) {
                        <li>{{ error.message }}</li>
                    }
                </ul>
                }
            </div>
            <input type="submit" [disabled]="loginForm().invalid()" class="form-control btn btn-primary" value="Register" />
        </form>
    </div>
    <div class="d-flex col-8 align-items-center justify-content-center">
        <h5 class="col-8">
            Register with your email to create an account.<br />
            Only members of the school XY can create an account.<br />
            Make sure to write down your password, so you don't forget it.<br />
        </h5>
    </div>
</loginlayout>
